# Redirect HTTP on container :80 (host :8080) to HTTPS on host :8443
:80 {
	redir https://localhost:8443{uri} 308
}

localhost {
    root * /usr/share/caddy
    file_server
    tls internal

	handle_path /api/* {
		uri strip_prefix /api
		reverse_proxy backend:8000
	}

	handle_path /whisper/* {
		uri strip_prefix /whisper
		reverse_proxy whisper:9000
	}

}
